#motion-banner {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    .motion-banner_btns {
        width: 100%;
        max-width: 1190px;
        height: 100%;
        position: absolute;
        display: block;
        .motion-banner_btn {
            width: 60px;
            height: 60px;
            border: solid 2px #000;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            animation: .6s;
            .motion-banner__info{
                display: none;
                position: absolute;
                width: calc(100% - 4rem);
                height: calc(100% - 4rem);
                top: 0px;
                right: 0;
                background: #dddddd91;
                font-family: arial;
                padding: 2rem;

                .motion-banner_close{
                    display: block;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    background: #a1a1a1;
                    color: #fff;
                    text-align: center;
                    padding: .4rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &.btn_1 {
                top: 4rem;
                left: 6rem;
            }
            &.btn_2 {
                top: 4rem;
                right: 17%;

                &:hover .motion-banner_back{
                    width: 30vw;
                    height: 38vh;
                    display: block;
                    position: absolute;
                    top: -33%;
                    right: -6%;
                    background: #ddd url(https://jdsports-client-resources.co.uk/jdsports-client-resources/img/2018/0424/huarache-547f56a40576f8443f01ef44803f8208.png);
                    background-size: 140%;
                    background-position: 96% -128%;
                    border: solid 1px;
                    animation: 1.5s;
                    z-index: 1;
                }
            }
            &.btn_3 {
                bottom: 6rem;
                left: 17%;

                &:hover .motion-banner_front{
                    width: 30vw;
                    height: 38vh;
                    display: block;
                    position: absolute;
                    bottom: -6%;
                    left: -6%;
                    background: #ddd url(https://jdsports-client-resources.co.uk/jdsports-client-resources/img/2018/0424/huarache-547f56a40576f8443f01ef44803f8208.png);
                    background-size: 140%;
                    background-position: -43% -64%;
                    border: solid 1px;
                    animation: 1.5s;
                    z-index: 1;
                }
            }
            &::before{
                width: 6px;
                height: 40px;
                background: #000;
                margin: 10px auto;
                content: "";
                display: block;
            }
            &::after{
                width: 40px;
                height: 6px;
                background: #000;
                position: absolute;
                top: 26px;
                margin: auto 10px;
                content: "";
                display: block;
            }
            &:hover{
                transform: scale(1.1);
                animation: .6s
            }
        }
    }
    .motion-banner_full {
        display: block;
        width: 100%;
    }
    .motion-banner_front {
        display: none;
    }
    .motion-banner_back {
        display: none;
    }
}